
body{
   
}
.background{
    height: 100px;
    background-color: blue;
    background-image: url(img/pattern.png);
    
}
.background img{
    width: 110px;
    margin-top: 60px;
    margin-left: 5px;
}   

.titolo{
    font-size: 30px;
}
.grey, .data{
    color: grey;
}
.blu{
   color: cyan;
}
.data{
    font-size: 9px;
    
}  
main{
    margin-top: 10px;
}
.tim1{
    width: 700px;
}
.tim2{
    width: 600px;
}