
body{
   
}
.background{
    height: 100px;
    background-color: blue;
    background-image: url(img/pattern.png);
    background-repeat: repeat;
    background-size: 30%;
    
}
.background img{
    width: 110px;
    margin-top: 60px;
    margin-left: 5px;
}   

.titolo{
    font-size: 30px;
}
.grey, .data{
    color: grey;
}
.blu{
   color: cyan;
}
.data{
    font-size: 9px;
    
}  
main{
    margin-top: 10px;
}
.tim1{
    width: 700px;
}
.tim2{
    width: 600px;
}
.text{
    background-color: yellow;
}
table{
    width: 96%;
    margin-left: 22px;
    border-collapse: collapse;
}
.celeste{
    background-color:teal;
}

td{
    text-align: center;
    background-color: turquoise;
    padding:10px;
    font-size: 14px;
}
.bianco, .left, .td3{
    background-color: white;
}
th{
    color: white;
}
.terzo-titolo{
    text-align: left;
}
.td3, terzo-par{
    width: 500px;
    text-align: left;
}

.prima-immagine{
    background-image: url(img/monitor.jpg);
}
.seconda-immagine{
     background-image: url(img/graph.jpg);
}
.prima-immagine, .seconda-immagine{
    width: 300px;
    height: 200px;
    background-color: green;
}
h3{
    color: white;
    font-size: 23px;
    margin-left: 32px;
    padding-top: 20px;
}
